In [20]:
import pandas as pd

In [29]:
years = range(2020,2025)
rates = {
    2020 : {
        100: 0,
        150: 15,
        250: 25,
        350: 30,
        450: 45,
        1000: 55  
    },
    2021 : {
        100: 0,
        150: 29,
        250: 43,
        350: 49,
        450: 61,
        1000: 70        
    },
    2022 : {
        100: 0,
        150: 43,
        250: 60,
        350: 68,
        450: 78,
        1000: 85 
    },
    2023 : {
        100: 0,
        150: 56,
        250: 78,
        350: 86,
        450: 94,
        1000: 100 
    },
    2024 : {
        100: 0,
        150: 70,
        250: 95,
        350: 105,
        450: 110,
        1000: 115  
    }
}

In [32]:
def value_of_hours(hours, year):
    total = 0
    previous_threshold = 0

    for threshold, rate in rates[year].items():
        hours_over_threshold = hours - threshold
        hours_over_previous_threshold = hours - previous_threshold

        if hours_over_threshold > 0:
            total += (threshold - previous_threshold) * rate
        elif hours_over_previous_threshold > 0:
            total += (hours - previous_threshold) * rate

        previous_threshold = threshold

    return total

In [40]:
cps = {
    2020: 6000,
    2021: 6000,
    2022: 9000,
    2023: 9000,
    2024: 9000,
}
cps_factor ={
    2020: 1.0,
    2021: 0.75,
    2022: 0.5,
    2023: 0.25,
    2024: 0,
}

In [33]:
value_of_hours(350, 2024)

23500

In [84]:
hours = 350
comparison = pd.DataFrame()
comparison['year'] = years
comparison['productivity'] = comparison.year.apply(lambda year : value_of_hours(hours, year) )
comparison['cps'] = cps.values()
comparison['factor'] = cps_factor.values()
comparison['new_cps'] = comparison.cps * comparison.factor
comparison.drop(columns=['cps', 'factor'], inplace=True)
comparison.set_index('year', inplace=True)
comparison

      productivity  new_cps
year
2020          6250   6000.0
2021         10650   4500.0
2022         14950   4500.0
2023         19200   2250.0
2024         23500      0.0

In [85]:
comparison['total'] = comparison.sum(axis=1)
comparison

      productivity  new_cps    total
year
2020          6250   6000.0  12250.0
2021         10650   4500.0  15150.0
2022         14950   4500.0  19450.0
2023         19200   2250.0  21450.0
2024         23500      0.0  23500.0

In [86]:
comparison_t = comparison.transpose()
totals = comparison_t
totals

year             2020     2021     2022     2023     2024
productivity   6250.0  10650.0  14950.0  19200.0  23500.0
new_cps        6000.0   4500.0   4500.0   2250.0      0.0
total         12250.0  15150.0  19450.0  21450.0  23500.0